<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emoticon_group_name</key>
		<string>Emoji</string>
		<key>emoticon_group_identifier</key>
		<string>com.apple.emoji</string>
		<key>emoticon_group_type</key>
		<string>3</string>
		<key>emoticon_group_path</key>
		<string>emoji</string>
	</dict>
</array>
</plist>
